:root {
  --marca-texto-verde: #b6c9ad;
  --marca-texto-amarelo: #ffeb3b;
  --marca-texto-rosa: #f8a5c2;
  --marca-texto-azul: #74b9ff;
  --marca-texto-roxo: #a29bfe70;
}

.marca-texto-verde, .marca-texto-amarelo, .marca-texto-rosa, .marca-texto-azul, .marca-texto-roxo {
    position: relative;
}

.marca-texto-verde::before, .marca-texto-amarelo::before, .marca-texto-rosa::before, .marca-texto-azul::before, .marca-texto-roxo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.15em;
    width: 100%;
    height: 0.5em;
    z-index: -1;
}
.marca-texto-verde::before {
    background-color: var(--marca-texto-verde);
}
.marca-texto-amarelo::before {
    background-color: var(--marca-texto-amarelo);
}
.marca-texto-rosa::before {
    background-color: var(--marca-texto-rosa);
}
.marca-texto-azul::before {
    background-color: var(--marca-texto-azul);
}
.marca-texto-roxo::before {
    background-color: var(--marca-texto-roxo);
}

:root {
  --mensagem-roxo: #a29bfe;
  --mensagem-bot: #b6c9ad;
}