<div class="window">
    <div class="window-header">Central do Correio</div>
    <div class="window-content">        
        <table width="100%" border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; background: white;">
            <tr>
                <td align="center" width="25%" valign="top">
                    <a href="/cartinhas/escrever" style="text-decoration: none; color: black; display: flex; flex-direction: column; align-items: center; height: 100%; justify-content: space-between;">
                        <div style="height: 40px; display: flex; align-items: center; justify-content: center; margin-bottom: 5px;">
                            <img src="/images/cartinhas/fire-writing.gif" width="32">
                        </div>
                        <div style="flex-grow: 1;">
                            <b>ESCREVER</b><br>
                            <small>Nova cartinha</small>
                        </div>
                    </a>
                </td>
                <td align="center" width="25%" valign="top">
                    <a href="/cartinhas/recebidas" style="text-decoration: none; color: black; display: flex; flex-direction: column; align-items: center; height: 100%; justify-content: space-between;">
                        <div style="height: 40px; display: flex; align-items: center; justify-content: center; margin-bottom: 5px;">
                            <img src="/images/cartinhas/opening_letter.gif" width="32">
                        </div>
                        <div style="flex-grow: 1;">
                            <b>ENTRADA</b><br>
                            <small>Recebidas</small>
                        </div>
                    </a>
                </td>
                <td align="center" width="25%" valign="top">
                    <a href="/cartinhas/enviadas" style="text-decoration: none; color: black; display: flex; flex-direction: column; align-items: center; height: 100%; justify-content: space-between;">
                        <div style="height: 40px; display: flex; align-items: center; justify-content: center; margin-bottom: 5px;">
                            <img src="/images/cartinhas/aviao.gif" width="32">
                        </div>
                        <div style="flex-grow: 1;">
                            <b>ENVIADAS</b><br>
                            <small>Histórico</small>
                        </div>
                    </a>
                </td>
                <td align="center" width="25%" valign="top">
                    <a href="/cartinhas/favoritas" style="text-decoration: none; color: black; display: flex; flex-direction: column; align-items: center; height: 100%; justify-content: space-between;">
                        <div style="height: 40px; display: flex; align-items: center; justify-content: center; margin-bottom: 5px;">
                            <img src="/images/cartinhas/olhinhos.gif" width="32">
                        </div>
                        <div style="flex-grow: 1;">
                            <b>FAVORITAS</b><br>
                            <small>Guardadas</small>
                        </div>
                    </a>
                </td>
            </tr>
        </table>

        <div style="margin-top: 10px; padding: 5px; border: 1px dashed #808080; background: #ffffcc; font-size: 11px;">
            <b>Dica:</b> O sistema de cartinhas permite enviar mensagens personalizadas para seus amigos do Boteco!
        </div>
    </div>
</div>
