<div class="window">
    <div class="window-header">Central do Correio</div>
    <div class="window-content">
        <div class="cartinhas-menu-grid">
            <a href="/cartinhas/escrever" class="cartinhas-menu-item">
                <div class="cartinhas-menu-icon">
                    <img src="/images/cartinhas/fire-writing.gif" height="40">
                </div>
                <div>
                    <b>ESCREVER</b><br>
                    <small>Nova cartinha</small>
                </div>
            </a>
            <a href="/cartinhas/recebidas" class="cartinhas-menu-item">
                <div class="cartinhas-menu-icon">
                    <img src="/images/cartinhas/opening_letter.gif" height="40">
                </div>
                <div>
                    <b>ENTRADA</b><br>
                    <small>Recebidas</small>
                </div>
            </a>
            <a href="/cartinhas/enviadas" class="cartinhas-menu-item">
                <div class="cartinhas-menu-icon">
                    <img src="/images/cartinhas/aviao.gif" height="40">
                </div>
                <div>
                    <b>ENVIADAS</b><br>
                    <small>Histórico</small>
                </div>
            </a>
            <a href="/cartinhas/favoritas" class="cartinhas-menu-item">
                <div class="cartinhas-menu-icon">
                    <img src="/images/cartinhas/olhinhos.gif" height="40">
                </div>
                <div>
                    <b>FAVORITAS</b><br>
                    <small>Guardadas</small>
                </div>
            </a>
        </div>

        <div style="margin-top: 10px; padding: 5px; border: 1px dashed #808080; background: #ffffcc; font-size: 11px;">
            <b>Dica:</b> O sistema de cartinhas permite enviar cartas anônimas!
        </div>
    </div>
</div>