<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3"><span class="marca-texto-verde">Controle de chats</span></h3>
        <div class="list-group mb-4">
            <a href="/admin/criar-chat" class="list-group-item list-group-item-action">Criar chat</a>
            <a href="/admin/editar-chat" class="list-group-item list-group-item-action">Gerenciar chats</a>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="mb-3"><span class="marca-texto-verde">Controle de usuários</span></h3>
        <div class="list-group mb-4">
            <a href="/admin/editar-usuario" class="list-group-item list-group-item-action">Gerenciar usuário</a>
            <a href="/admin/resetar-senha-usuario" class="list-group-item list-group-item-action">Resetar senha de usuário</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3 class="mb-3"><span class="marca-texto-verde">Controle de cartinhas</span></h3>
        <div class="list-group mb-4">
            <a href="/admin/editar-cartinha" class="list-group-item list-group-item-action">Gerenciar cartinhas</a>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="mb-3"><span class="marca-texto-verde">Sistema</span></h3>
        <div class="list-group mb-4">
            <a href="/admin/imagemdodia" class="list-group-item list-group-item-action">Gerenciar Imagem do Dia</a>
        </div>
    </div>
</div>